* {
  box-sizing: border-box;
}
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: white;
}

.main-app-container {
  padding-top: 5rem;
}

.btn-secondary {
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.5rem 2rem;
}

.main-button {
  background-color: #ff9900;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.5rem 2rem;
}

.main-button:hover {
  background-color: #be7507;
  border-color: #02426b;
}

.main-button:active:focus {
  border-color: none;
}

.main-button:focus {
  background-color: #ff9900;
  border-color: #ff9900;
  box-shadow: 0 0 0 0.25rem #ff99004f;
}

.main-button:active {
  background-color: #ff9900;
  border-color: #02426b;
}

/*==== SCROLL BAR =====*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff9900;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #be7507;
}

/* ==== MAIN TOASTS ==== */

.main-error-toast {
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: #ff5145;
  color: white;
  border-radius: 1rem;
  border: none;
}

.main-error-toast > .toast-header {
  background-color: transparent;
  color: white;
}

.main-success-toast {
  margin: 2rem auto 2rem auto;
  width: fit-content;
  background-color: #0ebb08;
  color: white;
  border-radius: 1rem;
  border: none;
}

.main-success-toast > .toast-header {
  background-color: transparent;
  color: white;
}

.main-exit-button {
  -webkit-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.75);
  width: 3rem;
  height: 3rem;
  background-color: white;
  position: absolute;
  right: -1rem;
  top: -1rem;
  border-radius: 100%;
  display: flex;
  justify-items: center;
  padding: 0.9rem;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.main-exit-button:hover {
  transform: scale(1.3);
}

.grow {
  transition: all 0.3s ease-in-out;
}
.grow:hover {
  transform: scale(1.05);
}

/* ====== SWITCH STYLES ====== */
.form-switch .form-check-input:focus {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23ff99004f'/></svg>");
}

.form-switch .form-check-input:focus:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:focus {
  border-color: #ff9900;
  box-shadow: 0 0 0 0.25rem #ff99004f;
}

.form-check-input:checked {
  background-color: #ff9900;
  border-color: #ff9900;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #ff9900;
}

.main-delete-button {
  background-color: #ff5145;
  margin-bottom: 0;
}

.main-delete-button:active {
  background-color: #c44037;
}

.main-delete-button:focus {
  background-color: #c44037;
}

.main-delete-button:hover {
  background-color: #c44037;
}

.modal-content {
  border: none;
}

.section-title {
  color: #ff9900;
  text-shadow: 0px 0px 8px rgba(255, 153, 0, 0.66);
}
