.navbar {
  background-color: #02426b;
}

#main-icon {
  width: 70%;
}

.menu-icons {
  width: 80%;
}

#collasible-nav-dropdown {
  font-size: 14px;
}

.navbar-nav > a {
  margin: 0 1rem 0 1rem;
}

.navbar-nav {
  align-items: center;
}

.navbar-search-form {
  flex: 1;
  justify-self: center;
}

@media screen and (min-width: 769px) {
  .menu-icons {
    padding: 0;
    margin: 0;
  }
  #collasible-nav-dropdown {
    font-size: 18px;
  }
  .navbar-expand .navbar-nav .dropdown-menu {
    left: -100%;
  }
}

.navbar-collapse {
  flex-grow: 0;
}
