.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blockquote-footer {
  margin: 1rem;
}

#read-more-button {
  width: 100%;
  margin-bottom: 1rem;
}

.card {
  border-radius: 1rem;
  border: none;
  -webkit-box-shadow: 0px 0px 31px -12px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 31px -12px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 31px -12px rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
  margin: 4rem 0 2rem 0;
}

.card-img-top {
  border-radius: 1rem;
  width: auto;
  max-height: 20rem;
  object-fit: cover;
}

.card-title {
  font-size: 1.75rem;
}

@media screen and (min-width: 980px) {
  .card {
    flex-direction: row;
    margin-left: auto;
    width: 50rem;
    margin-right: auto;
  }
  .card-img-top {
    width: 25%;
    height: auto;
    object-fit: fill;
  }
  .card-body-custom-container {
    display: flex;
    flex-direction: row;
  }

  .card-left-side {
    flex-grow: 1;
  }
  .card-right-side {
    justify-content: center;
    align-items: center;
  }
  #read-more-button {
    width: fit-content;
  }
}

.spoiler-alert-image {
  width: 6rem;
}
